rules:
  - id: javascript.express.web.cors-default-config-express.cors-default-config-express
    message: >
      Having default CORS settings is insecure because they often allow
      overly permissive cross-origin access, exposing your application to
      unauthorized data sharing. Avoid using wildcard (*) origins, especially
      for endpoints that handle sensitive data. Use a restrictive CORS policy
      by explicitly specifying trusted origins.
    severity: WARNING
    metadata:
      likelihood: MEDIUM
      impact: MEDIUM
      confidence: HIGH
      category: security
      subcategory:
        - vuln
      cwe:
        - "CWE-346: Origin Validation Error"
      display-name: CORS Misconfiguration with Express
      functional-categories:
        - "web::sink::header::cors"
      owasp:
        - "A07:2021 - Identification and Authentication Failures"
      references:
        - "https://owasp.org/Top10/A07_2021-Identification_and_Authentication_Failures"
      technology:
        - cors
        - express
      vulnerability_class:
        - Improper Authentication
    languages:
      - javascript
      - typescript
    min-version: 1.91.0
    options:
      interfile: true
    pattern-either:
      - pattern: "cors()"
      - pattern: "cors({ origin: '*' })"
      - pattern: 'cors({ origin: "*" })'
